@page "/"

<h1>Description</h1>

<p>This app is running from GitHub Pages. The source code can be found <a href="https://github.com/aryehsilver/BlazorOnGitHubPages" target="_blank">here</a>.</p>
<p>The idea is that since this is a Web Assembly app, it is run entirely in the clients browser. A server running ASP.Net or the like is therefore not needed.</p>
